<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/homepage.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__list">
                <li class="main-header__item"><a class="active" href="/">Homepage</a></li>
                <li class="main-header__item"><a href="/dogs/all-dogs">My dogs</a></li>
            </ul>
        </nav>
    </header>
    <h1>Hello,this is the homepage</h1>
</body>

</html>